<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.3.0/dist/autoNumeric.min.js"></script>
    <style>
        body {
            background-color: #fff;
        }
        h1 {
            margin: 30px;
        }
        .neomorphic-border {
            margin-top: 12px;
            margin-bottom: 17px;
            padding: 20px;
            border-radius: 7px;
            background: #ffffff;
            box-shadow:  -6px 6px 59px #dedede,
                        6px -6px 59px #ffffff;
        }
        .btn-r {
            background-color: black;
            color: white;
        }
    </style>
</head>
    <body>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <hr>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Superior Deluxe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Deluxe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LogOut</a>
            </li>
          </ul>
        </div>
      </div>
      <main>
        <div class="container">
            <div class="row container-fluid">
                <div class="col">
                    <h1>The Admin Dashboard</h1>
                </div>
                <div class="col-md-2">
                    <a class="btn neomorphic-border" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="bi bi-menu-button-wide"></i> MENU</a>
                </div>
            </div>
            <div class="row container-fluid">
                <div class="col-md-8 align-items-center">
                    <div class="neomorphic-border">
                        <table id="example" class="display">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table id="suiteModsTable" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Room Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Suite Price</th>
                                    <th>Extra Charge</th>
                                    <th>Bed & Breakfast</th>
                                    <th>Full Board</th>
                                    <th>Half Board</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col align-items-center">
                    <div class="neomorphic-border">
                        <h3>ACTIONS</h3>
                    <form>
                        <div class="mb-3">
                            <label for="thedates" class="form-label">Date Selection</label>
                            <input type="text" class="form-control" id="thedates" name="daterange"/>
                            <div id="thedates" class="form-text">Select the dates you want to apply changes to.</div>
                        </div>
                        <h5>SUITE SETTINGS</h5>
                        <div class="mb-3 col">
                            <label for="room_type" class="form-label">Suite</label>
                            <select id="room_type" class="form-select">
                                <option value="Superior">Superior Deluxe Suite</option>
                                <option value="Deluxe">Deluxe Suite</option>
                            </select>
                        </div>
                        <div class="mb-3 col">
                            <label for="suiteprice" class="form-label">Price per Night</label>
                            <input value="0" type="text" class="form-control" id="suiteprice">
                        </div>
                        <div class="mb-3 col">
                            <label for="extraperson" class="form-label">Extra Person Charge</label>
                            <input value="0" type="text" class="form-control" id="extraperson">
                        </div>
                        <h5>MEAL PLANS</h5>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="bnb" class="form-label">Bed and Breakfast</label>
                                <input value="0" type="text" class="form-control" id="bnb">
                            </div>
                            <div class="mb-3 col">
                                <label for="halfboard" class="form-label">Half Board</label>
                                <input value="0" type="text" class="form-control" id="halfboard">
                              </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="fullboard" class="form-label">Full Board</label>
                                <input value="0" type="text" class="form-control" id="fullboard">
                            </div>
                            <div class="md-3 col">
                                
                            </div>
                        </div>
                        <button type="button" class="btn btn-r" onclick="checker()">Submit</button>
                    </form>
                    </div>
                </div>
                <div class="neomorphic-border">
                    <h3>Standard Pricing</h3>
                    <form>
                        <h5>Suite Settings</h5>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="standardsuite" class="form-label">Suite</label>
                                <select id="standardsuite" name="standardsuite" class="form-select">
                                    <option value="Superior">Superior Deluxe Suite</option>
                                    <option value="Deluxe">Deluxe Suite</option>
                                </select>
                            </div>
                            <div class="mb-3 col">
                                <label for="standardsuiteprice" class="form-label">Price per Night</label>
                                <input value="0" type="text" class="form-control" id="standardsuiteprice">
                            </div>
                            <div class="mb-3 col">
                                <label for="standardextraperson" class="form-label">Extra Person Charge</label>
                                <input value="0" type="text" class="form-control" id="standardextraperson">
                            </div>
                        </div>
                        
                        <h5>Meal Plans</h5>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="standardbnb" class="form-label">Bed and Breakfast</label>
                                <input value="0" type="text" class="form-control" id="standardbnb">
                            </div>
                            <div class="mb-3 col">
                                <label for="standardhalfboard" class="form-label">Half Board</label>
                                <input value="0" type="text" class="form-control" id="standardhalfboard">
                            </div>
                            <div class="mb-3 col">
                                <label for="standardfullboard" class="form-label">Full Board</label>
                                <input value="0" type="text" class="form-control" id="standardfullboard">
                            </div>
                        </div>
                        <button type="button" class="btn btn-r" onclick="checkStandard()">Submit</button>
                    </form>
                    <table id="pricingTable" class="display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Room Type</th>
                                <th>Suite Price</th>
                                <th>Extra Charge</th>
                                <th>Bed & Breakfast</th>
                                <th>Half Board</th>
                                <th>Full Board</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        </main>
        <!--
            the scripts are here
        -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.3.0/dist/autoNumeric.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>

        const priceMod = {};
        const standard = {};

        $(function() {
            var today = moment();
            var tomorrow = moment().add(1, 'days');
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                startDate: today,
                endDate: tomorrow,
                minDate: today,
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));

                priceMod.start_date = start.format('DD-MM-YYYY');
                priceMod.end_date = end.format('DD-MM-YYYY');
            });
        });

        function cur(id) {
            return new AutoNumeric(`${id}`, {
                currencySymbol: 'Ksh. ',
                decimalCharacter: '.',
                digitGroupSeparator: ','
            });
        }

        const suiteprice = cur('#suiteprice');
        const extraperson = cur('#extraperson');
        const bnb = cur('#bnb');
        const halfboard = cur('#halfboard');
        const fullboard = cur('#fullboard');
        const standardsuiteprice = cur('#standardsuiteprice');
        const standardextraperson = cur('#standardextraperson');
        const standardbnb = cur('#standardbnb');
        const standardhalfboard = cur('#standardhalfboard');
        const standardfullboard = cur('#standardfullboard');

        function actionSubmit() {
            priceMod.room_type = document.getElementById('room_type').value;
            priceMod.suiteprice = suiteprice.rawValue;
            priceMod.extraperson = extraperson.rawValue;
            priceMod.bnb = bnb.rawValue;
            priceMod.fullboard = fullboard.rawValue;
            priceMod.halfboard = halfboard.rawValue;

            fetch('/action_mods', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(priceMod)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Modifications to the prices submitted successfully');
            })
            .catch(error => {
                console.error('Error while submitting the price modifications');
            });
        }


        function standardSubmit() {
            standard.suite = document.getElementById('standardsuite').value;
            standard.suiteprice = standardsuiteprice.rawValue;
            standard.extraperson = standardextraperson.rawValue;
            standard.bnb = standardbnb.rawValue;
            standard.halfboard = standardhalfboard.rawValue;
            standard.fullboard = standardfullboard.rawValue;

            fetch('/update_standard', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(standard)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Standard pricing moded');
            })
            .catch(error => {
                console.error('Error while submitting the standard pricing');
            });
        }

        function checker() {
            if (
                suiteprice.rawValue < 1 ||
                extraperson.rawValue < 1 ||
                bnb.rawValue < 1 ||
                halfboard.rawValue < 1 ||
                fullboard.rawValue < 1
            ) {
                alert('Please fill in all fields.');
            }
            else {
                actionSubmit()
            }
        }

        function checkStandard() {
            if (
                standardsuiteprice.rawValue < 1 ||
                standardextraperson.rawValue < 1 ||
                standardbnb.rawValue < 1 ||
                standardhalfboard.rawValue < 1 ||
                standardfullboard.rawValue < 1
            ) {
                alert('Please fill in all fields to update the standard pricing')
            }
            else {
                standardSubmit()
            }
        }

        let userTable = new DataTable('#example', {
            ajax: '/get_users',
            columns: [
                {
                    className: 'dt-control',
                    orderable: false,
                    data: null,
                    defaultContent: ''
                },
                { data: 'fname' },
                { data: 'lname' },
                { data: 'email' },
                { data: 'phone' }
            ],
            order: [[1, 'asc']],
            rowId: 'id',
            stateSave: true
        });

        userTable.on('requestChild.dt', function (e, row) {
            row.child(formatUserDetails(row.data())).show();
        });

        userTable.on('click', 'td.dt-control', function (e) {
            let tr = e.target.closest('tr');
            let row = userTable.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
            } else {
                row.child(formatUserDetails(row.data())).show();
            }
        });

        function formatUserDetails(user) {
            return (
                '<dl>' +
                    '<dt>Nationality:</dt>' +
                        '<dd>' + user.nationality + '</dd>' +
                    '<dt>Passport:</dt>' +
                        '<dd>' + user.passport + '</dd>' +
                    '<dt>Gender:</dt>' +
                        '<dd>' + user.gender + '</dd>' +
                    '<dt>Rooms:</dt>' +
                        '<dd>' + user.no_rooms + '</dd>' +
                    '<dt>Checkin:</dt>' +
                        '<dd>' + user.checkin + '</dd>' +
                    '<dt>Checkout:</dt>' +
                        '<dd>' + user.checkout + '</dd>' +
                    '<dt>Suite:</dt>' +
                        '<dd>' + user.suite + '</dd>' +
                    '<dt>Rooms Booked:</dt>' +
                        '<dd>' +
                            '<table id="roomTable" class="display">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Adults</th>' +
                                        '<th>Preteens</th>' +
                                        '<th>Kids</th>' +
                                        '<th>Infants</th>' +
                                        '<th>Meal Plan</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody></tbody>' +
                            '</table>' +
                        '</dd>' +
                '</dl>'
            );
        }

        let roomsTable;

        userTable.on('click', 'tr', function () {
            var data = userTable.row(this).data();
            var userId = data.id;

            $.ajax({
                url: '/get_rooms/' + userId,
                type: 'GET',
                success: function (response) {
                    roomsTable.clear().draw();
                    roomsTable.rows.add(response.data).draw();
                },
                error: function (error) {
                    console.error('Error fetching room information:', error);
                }
            });
        });

        userTable.on('childHidden.dt', function () {
            if (roomsTable) {
                roomsTable.destroy();
            }
        });

        $(document).ready(function() {
            var pricingTable = $('#pricingTable').DataTable({
                ajax: '/get_standard_pricing',
                columns: [
                    { data: 'id' },
                    { data: 'room_type' },
                    { data: 'suite_price' },
                    { data: 'extra_charge' },
                    { data: 'bed_breakfast' },
                    { data: 'half_board' },
                    { data: 'full_board' }
                ],
                order: [[1, 'asc']],
                rowId: 'id',
                stateSave: true
            });
        });

        $(document).ready(function() {
            var suiteModsTable = $('#suiteModsTable').DataTable({
                ajax: '/get_mods',
                columns: [
                    { data: 'id' },
                    { data: 'room_type' },
                    { data: 'start_date' },
                    { data: 'end_date' },
                    { data: 'price_mods.suite_price' },
                    { data: 'price_mods.extra_charge' },
                    { data: 'price_mods.bed_breakfast' },
                    { data: 'price_mods.full_board' },
                    { data: 'price_mods.half_board' },
                ],
                order: [[1, 'asc']],
                rowId: 'id',
                stateSave: true
            })
        })
    </script>
    </body>
</html>