<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Booking</title>

    <!--CSS links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.3.0/dist/autoNumeric.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        body{
            height: auto;
        }
        .theeform {
             background-color: #ffffff;
             display: flex;
             align-items: center;
             justify-content: center;
             height: 100vh;
             margin: 0;
             margin-top: 200px;
         }
 

        .container {
            padding: 20px;
            border-radius: 7px;
            box-shadow:  20px 20px 60px #b6b6b6,
                        -20px -20px 60px #f6f6f6;
            max-width: 700px;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .thecontainer {
            padding: 20px;
            border-radius: 7px;
            box-shadow:  20px 20px 60px #b6b6b6,
                         -20px -20px 60px #f6f6f6;
            max-width: 700px;
            width: 100%;
        }
 
        form { 
             margin: 0 auto;
        }

        h2 {
             text-align: center;
             color: #333;
        }
 
        .form-outline {
             margin-bottom: 2px;
        }
 
        .form-control:focus {
             border-color: #ffffff;
             box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
        }
 
        .form-group {
             display: flex;
             gap: 10px;
        }
 
        .form-outline {
             flex: 1;
        }
        .btn {
            margin-top: 10px;
            padding-top: none;
            border-radius: 5px;
            width: auto;
            background-color: rgb(21, 20, 20);
            color: #f6f6f6;
        }
        .form-step {
            display: none;
        }

     </style>
</head>
<body>
    <section class="theeform">
        <form>
            <div class="container theecontainer text-left" data-aos="fade-down-left" data-aos-duration="1000" id="step-1">
                <h3>Check Availability</h3>
                <div class="mb-3">
                    <label for="thedates" class="form-label">Check In - Check Out</label>
                    <input type="text" class="form-control" id="thedates" name="daterange"/>
                    <div id="thedates" class="form-text">Select the dates you would like to visit.</div>

                    <button class="btn" type="button" onclick="nextStep(1);">CHECK AVAILABILITY</button>

                </div>
                <!--div class="form-group">
                    <div class="form-outline mb-2">
                        <label for="checkin">Check in - Check out</label>
                        <input type="date" id="checkin" name="checkin" class="form-control" required>
                    </div>

                    <div class="form-outline mb-2">
                        <label for="checkout">Check out</label>
                        <input type="date" id="checkout" name="checkout" class="form-control" required>
                    </div>

                    <button class="btn" type="button" onclick="nextStep(1);">CHECK AVAILABILITY</button>
                </div-->
            </div>


            <div class="container theecontainer text-left form-step" data-aos="fade-down-left" data-aos-duration="1000" id="step-2" data-aos-once="true">
                <div class="form-group">
                    <div class="form-outline mb-2">
                        <label for="no_rooms">Number of Rooms</label>
                        <input type="number" id="no_rooms" name="no_rooms" min="1" max="12" value="1" class="form-control" oninput="eraseSubsequent()" required>
                    </div>

                    <button class="btn" type="button" onclick="nextStep(2); updateConfig()">NEXT</button>
                </div>
            </div>

            <div id="step-3"></div>

            <div class="container theecontainer text-left form-step" data-aos="fade-down-left" data-aos-duration="1000" id="step-4" data-aos-once="true">
                <div class="form-group">
                    <div class="form-outline mb-2">
                        <label for="cost">Total.</label>
                        <input type="text" id="cost" name="cost" class="form-control" readonly required>
                    </div>
                    
                    <button class="btn" type="button" onclick="nextStep(4)">MAKE RESERVATION</button>
                </div>
            </div>


            <div class="container theecontainer text-left form-step" data-aos="fade-down-left" data-aos-duration="1000" id="step-5" data-aos-once="true">
                <h3>Personal Information</h3>
                <div class="form-group">
                    <div class="form-outline mb-2">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" class="form-control" placeholder="John" required>
                    </div>
        
                    <div class="form-outline mb-2">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname" class="form-control" placeholder="Doe" required>
                    </div>
                </div>
    
                <div class="form-outline mb-2">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="example@gmail.com" required>
                    <small id="emailError" style="color: red;"></small>
                </div>
    
                <div class="form-outline mb-2">
                    <label for="contact">Phone Number</label>
                    <input type="tel" id="contact" name="phone_no" pattern="\+254\d{9}"  placeholder="123456789" class="form-control" value="+254" maxlength="13" minlength="13" required>
                    <div id="phoneError" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <div class="form-outline mb-2">
                        <label for="nationality">Nationality</label>
                        <select type="text" id="nationality" name="nationality" class="form-control" required></select>
                    </div>
        
                    <div class="form-outline mb-2">
                        <label for="passport">ID/Passport Number</label>
                        <input type="text" id="passport" name="passport" class="form-control" required>
                    </div>
                </div>

                <div class="form-outline mb-2">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" class="form-control" onchange="updateMaxRooms()" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <button class="btn" type="button" value="PAY" onclick="submitForms()">PAY NOW</button>
            </div>
            
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"> </script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.3.0/dist/autoNumeric.min.js"></script>
    <script>
        const userData = {};
        let checkin;
        let checkout;
        let currencyInput;
        let roomTotals = [];
        let peopleTotals = [];
        let grandTotal;
        let suitePrice;
        let extraCharge;
        let bnb;
        let halfBoard;
        let fullBoard;
        let totalRoomCost;

        $(function() {
            var today = moment();
            var tomorrow = moment().add(1, 'days');
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                startDate: today,
                endDate: tomorrow,
                minDate: today,
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));

                userData.checkin = start.format('DD-MM-YYYY');
                userData.checkout = end.format('DD-MM-YYYY');
                checkin = start.format('DD-MM-YYYY');
                checkout = end.format('DD-MM-YYYY');
            });
        });

        function fetchPricing() {
            const roomType = 'Deluxe';

            fetch('/get_pricing?room_type=${roomType}&checkin=${checkin}&checkout=${checkout}')
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        suitePrice = data.suite_price;
                        extraCharge = data.extra_charge;
                        bnb = data.bed_breakfast;
                        halfBoard = data.half_board;
                        fullBoard = data.full_board;
                    } else {
                        console.error(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function initializeAutoNumeric(id, value) {

            if (AutoNumeric.getAutoNumericElement(id)) {
                AutoNumeric.getAutoNumericElement(id).remove();
            }
            return new AutoNumeric(`#${id}`, {
                currencySymbol: 'Ksh. ',
                decimalCharacter: '.',
                digitGroupSeparator: ',',
                initialValue: value,
                readOnly: true
            });
        }

        // document.getElementById('checkin').addEventListener('input', function() {
        //     var checkinDate = new Date(this.value);
        //     var today = new Date();
        //     today.setDate(today.getDate() - 1)
    
        //     if (checkinDate < today) {
        //         alert("Check-in date cannot be before today");
        //         this.value = '';
        //     } else {
        //         document.getElementById('checkout').min = this.value;
        //         document.getElementById('checkout').value = '';
        //     }

        // });
    
        // document.getElementById('checkout').addEventListener('change', function() {
        //     var checkinDate = new Date(document.getElementById('checkin').value);
        //     var checkoutDate = new Date(this.value);
        //     var today = new Date()
    
        //     if (checkoutDate <= checkinDate || checkoutDate <= today) {
        //         alert("Check-out date cannot be today or before the Check-in date");
        //         this.value = '';
        //     }
        // });

        function updateNationalities() {
            const nationalityDropdown = document.getElementById('nationality');

            fetch('{{ url_for("static", filename="nationalities.json") }}')
                .then(response => response.json())
                .then(nationalities => {
                    nationalities.forEach(nationality => {
                        const option = document.createElement('option');
                        option.value = nationality;
                        option.text = nationality;
                        nationalityDropdown.add(option);
                    });
                })
                .catch(error => console.error('Error fetching nationalites:', error));
        }

        function nextStep(step) {
            const nextStep = document.getElementById(`step-${step + 1}`);
            nextStep.style.display = "block";
        }

        function updateConfig() {
            const roomConfigurationsContainer = document.getElementById('step-3');
            const noRooms = parseInt(document.getElementById('no_rooms').value);

            // Clear previous configurations
            roomConfigurationsContainer.innerHTML = '';

            // Generate room configurations based on the number of rooms
            for (let i = 1; i <= noRooms; i++) {
                const roomConfiguration = `

                    <div class="container theecontainer text-left" data-aos="fade-down-left" data-aos-duration="1000" data-aos-once="true">
                    <h3>Room ${i}</h3>
                    <div class="form-group">
                        <div class="form-outline mb-2">
                            <label for="adults${i}">Adults</label>
                            <input type="number" id="adults${i}" name="adults" min="0" max="2" value="0" class="form-control" oninput="forThisDiv(${i})">
                        </div>

                        <div class="form-outline mb-2">
                            <label for="preeteens${i}">Preteens</label>
                            <input type="number" id="preteens${i}" name="preteens" min="0" max="2" value="0" class="form-control" oninput="forThisDiv(${i})">
                        </div>

                        <div class="form-outline mb-2">
                            <label for="kids${i}">Kids</label>
                            <input type="number" id="kids${i}" name="kids" min="0" max="2" value="0" class="form-control" oninput="forThisDiv(${i})">
                        </div>

                        <div class="form-outline mb-2">
                            <label for="infants${i}">Infants</label>
                            <input type="number" id="infants${i}" name="infants" min="0" max="0" value="0" class="form-control">
                        </div>

                        <div class="form-outline mb-2">
                            <label for="meal${i}">Meal Plan</label>
                            <select id="meal${i}" name="meal${i}" class="form-control" onchange="" required>
                                <option value="bed and breakfast">B&B</option>
                                <option value="full board">Full Board</option>
                                <option value="half board">Half Board</option>
                                <option value="day room">Day Room</option>
                            </select>
                        </div>

                        </div>
                        ${i === noRooms ? '<button class="btn" type="button" onclick="calculateGrandTotal()">NEXT</button>' : ''}
                    </div>
                `;

                peopleTotals[i - 1] = 0
                roomConfigurationsContainer.innerHTML += roomConfiguration;
            }
        }

        // function submitRoomForm() {

        //     const roomData = []

        //     for (let i = 1; i <= noRooms; i++) {
        //         const roomInfo = {
        //             adults: document.getElementById('adults${i}').value,
        //             preteens: document.getElementById('preteens${i}').value,
        //             kids: document.getElementById('kids${i}').value,
        //             meal_plan: document.getElementById('meal${i}').value
        //         };

        //         roomData.push(roomInfo);
        //     }

        //     fetch('/store_rooms', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type' : 'application/json'
        //         },
        //         body: JSON.stringify({ rooms: roomData })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log(data);
        //     })
        // }



        function calculateGrandTotal() {
            if (peopleTotals.includes(0)) {
                alert('Each room must have an occupant');
            }
            else {
                function updateCostValue(grandTotal) {
                    document.getElementById('cost').value = grandTotal;

                    currencyInput = initializeAutoNumeric('cost', grandTotal);
                }

                grandTotal = roomTotals.reduce((acc, total) => acc + total, 0);
                updateCostValue(grandTotal);
                nextStep(3);
            }
        }

        function forThisDiv(roomNumber) {

            document.querySelectorAll('#step-4, #step-5').forEach(step => step.style.display = 'none');

            var adults = parseInt(document.getElementById('adults' + roomNumber).value);
            var preteens = parseInt(document.getElementById('preteens' + roomNumber).value);
            var kids = parseInt(document.getElementById('kids' + roomNumber).value);

            document.getElementById('adults' + roomNumber).max = 2 - preteens - kids;
            document.getElementById('preteens' + roomNumber).max = 2 - adults - kids;
            document.getElementById('kids' + roomNumber).max = 2 - adults - preteens;

            if (adults > 0) {
                document.getElementById('infants' + roomNumber).max = 2
            }
            else {
                document.getElementById('infants' + roomNumber).max = 0
            }

            const rackRate = 6500;
            const extraCharge = 1500;

            if ((adults + preteens + kids) == 1) {
                totalRoomCost = rackRate;
            }
            else if ((adults + preteens + kids) == 2) {
                if (adults > 0) {
                    if (preteens == 1) {
                        totalRoomCost = (0.75 * extraCharge) + rackRate
                    }
                    else if (kids == 1) {
                        totalRoomCost = (0.5 * extraCharge) + rackRate
                    }
                    else {
                        totalRoomCost = rackRate + extraCharge
                    }
                }
                else if (preteens > 0) {
                    if (kids == 1) {
                        totalRoomCost = (0.5 * extraCharge) + rackRate
                    }
                    else {
                        totalRoomCost = (0.75 * extraCharge) + rackRate
                    }
                }
                else {
                    totalRoomCost = (0.5 * extraCharge) + rackRate
                }
            }
            roomTotals[roomNumber - 1] = totalRoomCost
            peopleTotals[roomNumber - 1] = (adults + preteens + kids)
        }

        function submitForms() {
            const roomData = []
            const noRooms = parseInt(document.getElementById('no_rooms').value);

            for (let i = 1; i <= noRooms; i++) {
                const roomInfo = {
                    adults: document.getElementById(`adults${i}`).value,
                    preteens: document.getElementById(`preteens${i}`).value,
                    kids: document.getElementById(`kids${i}`).value,
                    infants: document.getElementById(`infants${i}`).value,
                    meal_plan: document.getElementById(`meal${i}`).value
                };

                roomData.push(roomInfo);
            }

            userData.fname = document.getElementById('fname').value;
            userData.lname = document.getElementById('lname').value;
            userData.email = document.getElementById('email').value;
            userData.phone = document.getElementById('contact').value;
            userData.nationality = document.getElementById('nationality').value;
            userData.passport = document.getElementById('passport').value;
            userData.gender = document.getElementById('gender').value;
            userData.no_rooms = document.getElementById('no_rooms').value;
            userData.suite = "Deluxe";
            userData.amount = currencyInput.rawValue;

            const combinedData = {
                rooms: roomData,
                user: userData
            };

            fetch('/store_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(combinedData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data submitted successfully:', data);
            })
            .catch(error => {
                console.error('Error submitting user data', error);
            });
        }


        function eraseSubsequent() {
            document.querySelectorAll('#step-3, #step-4, #step-5').forEach(step => step.style.display = 'none');
        }

        updateNationalities()
    </script>
    
    <script>
        AOS.init();
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>